<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/track.css">
      <link rel="stylesheet" href="css/style.css">

      <link rel="stylesheet" href="css/responsive.css">

</head>

<body class="main-layout">
    <!--   <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="" /></div>
      </div> -->
      <header>
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-3 logo_section">
                  <div class="full">
                     <div class="center-desk">

                        <div class="logo" style="width: 50%; height: 50%;"><p>   </p> <a href="Home1.html">
                              <img src="images/logo.png" alt="#"></a> </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-9">
                  <div class="menu-area">
                     <div class="limit-box">
                        <nav class="main-menu">
                           <ul class="menu-area-main">
                              <li class="active">
                                 <a href="Home1.html">Home</a>
                              </li>

                              <li>
                                 <a href="apply01.html">Loan Application</a>
                              </li>
                              <li>
                                 <a href="Track1.html">Track Application</a>
                              </li>
                              <li>
                                 <a href="Verification1.html">Verification</a>
                              </li>
                              <li>
                                 <a href="about1.html">About US</a>
                              </li>

                                   <li class="dropdown">
                                     <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> User <img style=" border-radius: 50%;width: 30px; height: 30px;" src="Images/person.png"> <span class="caret"></span></a>

                                     <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                       <li><a href="#">My Profile</a></li>
                                       <li><a href="#">EDIT Profile</a></li>
                                       <li><a href="Home.blade.php">Logout</a></li>
                                     </ul>
                                   </li>


                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <div class="banner-slider">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-7">
                  <div id="slider_main" class="carousel slide" data-ride="carousel">
                     <!-- The slideshow -->
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <img src="images/person.png" alt="#" />
                        </div>
                        <div class="carousel-item">
                           <img src="images/person.png" alt="#" />
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#slider_main" data-slide="prev">
                     <i class="fa fa-angle-left" aria-hidden="true"></i>
                     </a>
                     <a class="carousel-control-next" href="#slider_main" data-slide="next">
                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                     </a>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="full slider_cont_section">
                     <h3>Loan Scheme</h3>
                     <p style="font-size: 24px">In line with Government of Pakistan’s vision, Government and Privae ENGOS offers the financing scheme for youth entrepreneurs. Eligible persons can apply for the said financing only through this Loan Varification System. In this System many ENGOs and Governements are giving the loan at very low imterest.</p>
                     </div>
               </div>
            </div>
         </div>
      </div>

<br><br>
      <!-- <h3 style="text-align: center;">Scheme</h3> -->
<div class="mid">
<div class="row">

   <div style="background-color: #63bb63;" text-center class="col-md-3">
      <img src="Images/loan.png" style="height: 25%; width: 35%; ">
      <br><br><br>

      <h3 style="text-align:center; font-size: 30px; color: white;">Apply Loan</h3>
      <p style="color:white; text-align:center;">Business loans to meet your needs. Apply online
         <br>
         Click to Apply For Loan
       </p>

      <button onclick="window.location.href='apply.html'" type="button" class="loanApply">Apply For Loan</button>
   </div>
   <br><br>
   <div style="background-color: #e56e6e;" class="col-md-3">
 <img src="Images/track.png" style="height: 30%; width: 40%; ">
      <br><br>
            <h3 style="text-align:center; font-size: 30px; color: white;">Track Application</h3>
      <p style="color:white; text-align:center;">Track Loan Application Status Check Online from the portal that has been launched </p>
      <button onclick="window.location.href='track.html'" type="button" class="track">Track Application</button>

   </div>
   <br><br>
   <div style="background-color: #69ccf5;" class="col-md-3">
       <img src="Images/statistic.png" style="height: 25%; width: 35%; ">
      <br><br>

           <h3 style="text-align:center; font-size: 30px; color: white;">Apply Loan</h3>
      <p style="color:white; text-align:center;">Loan is provided according to the merit, People will avail this opportunity..... </p>
      <button onclick="window.location.href='standard.html'" type="button" class="statistic">Read More</button>
   </div>
   <br><br>
</div>
</div>
<br><br><br><br>

<h2 style="text-align: center; font-size:26px; font-weight: bold;">Our Partners</h2>
   <marquee behavior="scroll" direction="left">
   <img src="Images/bop.png" width="120" height="80" alt="Natural" />
   <img src="Images/abl.png" width="120" height="80" alt="Natural" />
   <img src="Images/ubl.png" width="120" height="80" alt="Natural" />
   <img src="Images/gift.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/meezan.png" width="120" height="80" alt="Natural" />
   <img src="Images/sindh.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/smeda.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/state.png" width="120" height="80" alt="Natural" />
   <img src="Images/gift.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/bop.png" width="120" height="80" alt="Natural" />
   <img src="Images/abl.png" width="120" height="80" alt="Natural" />
   <img src="Images/ubl.png" width="120" height="80" alt="Natural" />
   <img src="Images/gift.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/meezan.png" width="120" height="80" alt="Natural" />
   <img src="Images/sindh.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/smeda.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/state.png" width="120" height="80" alt="Natural" />
   <img src="Images/gift.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/bop.png" width="120" height="80" alt="Natural" />
   <img src="Images/abl.png" width="120" height="80" alt="Natural" />
   <img src="Images/ubl.png" width="120" height="80" alt="Natural" />
   <img src="Images/gift.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/meezan.png" width="120" height="80" alt="Natural" />
   <img src="Images/sindh.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/smeda.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/state.png" width="120" height="80" alt="Natural" />
   <img src="Images/gift.jpg" width="120" height="80" alt="Natural" />

  </marquee>












<br><br><br><br><br><br><br>
               <footer>
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-6">
                     <h3 style="color:white; font-size: 20px;">Contact Information</h3>
                     <ul class="contact_information">
                     <li><span><img src="images/location_icon.png" alt="#" /></span><span class="text_cont">Gift University<br>Gujranwala, Pakistan</span></li>
                     <li><span><img src="images/phone_icon.png" alt="#" /></span><span class="text_cont">055*******<br>055********</span></li>
                     <li><span><img src="images/mail_icon.png" alt="#" /></span><span class="text_cont">181400029@gift.edu.pk<br>181400179@gift.edu.pk</span></li>
                  </ul>

               </div>
               <br> <br>
               <div class="col-lg-4 col-md-6">
                  <div class="footer_links">
                     <h3>Quick link</h3>
                     <ul>
                        <li><a href="Home1.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Home</a></li>
                        <li><a href="apply01.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Loan Applications</a></li>
                        <li><a href="Track1.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Track Application</a></li>
                        <li><a href="Verification1.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Verification</a></li>
                        <li><a href="about1.html"><i class="fa fa-angle-right" aria-hidden="true"></i> About Us</a></li>

                     </ul>
                  </div>
               </div>
               <!-- <div class="col-lg-4 col-md-6">
                  <div class="footer_links">
                     <h3>Instagram</h3>
                     <ol>
                        <li><img class="img-responsive" src="images/footer_blog.png" alt="#" /></li>
                        <li><img class="img-responsive" src="images/footer_blog.png" alt="#" /></li>
                        <li><img class="img-responsive" src="images/footer_blog.png" alt="#" /></li>
                        <li><img class="img-responsive" src="images/footer_blog.png" alt="#" /></li>
                     </ol>
                  </div>
               </div> -->
               <br> <br>
               <div class="col-lg-3 col-md-6">
                  <div class="footer_links">
                     <h3>Contact us</h3>
                     <form action="index.html">
                        <fieldset>
                           <div class="field">
                              <input type="text" name="name" placeholder="Your Name" required="" />
                           </div>
                           <div class="field">
                              <input type="email" name="email" placeholder="Email" required="" />
                           </div>
                           <div class="field">
                              <input type="text" name="subject" placeholder="Subject" required="" />
                           </div>
                           <div class="field">
                              <textarea placeholder="Message"></textarea>
                           </div>
                           <div class="field">
                              <div class="center">
                                 <button class="reply_bt">Send</button>
                              </div>
                           </div>
                        </fieldset>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <div class="cpy">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <p>Copyright © 2022 Design by <a href="">Muhammad Tayyab</a></p>
               </div>
            </div>
         </div>
      </div>




















	<script src="js/jquery.min.js"></script>
   <script src="js/plugin.js"></script>
   <script src="js/custom.js"></script>
   <script src="js/bootstrap.bundle.min.js"></script>


</body>
</html>
