<!DOCTYPE html>
<html>
<head>
	<title>Private NGOS</title>
	<meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/sty.css">
      <link rel="stylesheet" href="css/track.css">
     <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
       <link rel="stylesheet" href="css/responsive.css">

</head>

<body class="main-layout">
<!--       <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="" /></div>
      </div> -->
      <header>
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-3 logo_section">
                  <div class="full">
                     <div class="center-desk">

                        <div class="logo" style="width: 50%; height: 50%;"><p>   </p> <a href="index.html">
                              <img src="images/logo.png" alt="#"></a> </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-9">
                  <div class="menu-area">
                     <div class="limit-box">
                        <nav class="main-menu">
                           <ul class="menu-area-main">
                              <li>
                                 <a href="home.html">Home</a>
                              </li>
                              <li class="active">
                                 <a href="Private.html">Private NGOS</a>
                              </li>
                              <li>
                                 <a href="apply.blade.php">Loan Application</a>
                              </li>
                              <li>
                                 <a href="Track.html">Track Application</a>
                              </li>
                              <li>
                                 <a href="Verification.html">Verification</a>
                              </li>
                              <li>
                                 <a href="About.html">About Us</a>
                              </li>

                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>





<div class="About-bg">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="aboutheading">
<br>
               <h3 style="text-align: center;">Private <span class="orange_color">NGOs</span></h3>
            </div>
         </div>
      </div>
   </div>
</div>


      <div class="section layout_padding">
         <div class="container">

            <div class="row">
               <div class="col-md-5">
                  <img src="Images/bop.png" alt="#" />
               </div>
               <div class="col-md-6">
                  <div class="full blog_cont">
                     <h4>Bank Of Punjab</h4>
                     <h5>Today Date</h5>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                     cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                     proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
               </div>
            </div>
        <br><br>                <div class="row margin_top_30">
               <div class="col-md-5">
                  <img src="Images/ubl.png" alt="#" />
               </div>
               <div class="col-md-6">
                  <div class="full blog_cont">
                     <h4>Bank Of Punjab</h4>
                     <h5>Today Date</h5>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                     cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                     proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
               </div>
            </div>
<br><br>
                        <div class="row margin_top_30">
               <div class="col-md-5">
                  <img src="images/abl.png" alt="#" />
               </div>
               <div class="col-md-6">
                  <div class="full blog_cont">
                     <h4>Bank Of Punjab</h4>
                     <h5>Today Date</h5>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                     cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                     proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
               </div>
            </div>
                <br><br>        <div class="row margin_top_30">
               <div class="col-md-5">
                  <img src="images/Gift.jpg" alt="#" />
               </div>
               <div class="col-md-6">
                  <div class="full blog_cont">
                     <h4>Bank Of Punjab</h4>
                     <h5>Today Date</h5>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                     cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                     proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                  </div>
               </div>
            </div>
        <br><br>                <div class="row margin_top_30">
               <div class="col-md-5">
                  <img src="images/meezan.png" alt="#" />
               </div>
               <div class="col-md-6">
                  <div class="full blog_cont">
                     <h4>Bank Of Punjab</h4>
                     <h5>Today Date</h5>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                     cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                     proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
               </div>
            </div>

<br><br>                        <div class="row margin_top_30">
               <div class="col-md-5">
                  <img src="images/nbp.png" alt="#" />
               </div>
               <div class="col-md-6">
                  <div class="full blog_cont">
                     <h4>Bank Of Punjab</h4>
                     <h5>Today Date</h5>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                     cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                     proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                  </div>
               </div>
            </div>
            <br><br>
                        <div class="row margin_top_30">
               <div class="col-md-5">
                  <img src="images/ubl.png" alt="#" />
               </div>
               <div class="col-md-6">
                  <div class="full blog_cont">
                     <h4>Bank Of Punjab</h4>
                     <h5>Today Date</h5>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                     cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                     proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
               </div>
            </div><br><br>
                        <div class="row margin_top_30">
               <div class="col-md-5">
                  <img src="images/abl.png" alt="#" />
               </div>

               <div class="col-md-6">
                  <div class="full blog_cont">
                     <h4>Bank Of Punjab</h4>
                     <h5>Today Date</h5>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                     cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                     proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                  </div>
               </div>
            </div>
                        <div class="row margin_top_30">
               <div class="col-md-5">
                  <img src="images/bop.png" alt="#" />
               </div>
               <br><br>
               <div class="col-md-6">
                  <div class="full blog_cont">
                     <h4>Bank Of Punjab</h4>
                     <h5>Today Date</h5>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                     cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                     proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                  </div>
               </div>
            </div>

                        <div class="row margin_top_30">
               <div class="col-md-5">
                  <img src="images/ubl.png" alt="#" />
               </div>
               <div class="col-md-6">
                  <div class="full blog_cont">
                 <br><br>    <h4>Bank Of Punjab</h4>
                     <h5>Today Date</h5>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                     cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                     proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                  </div>
               </div>
            </div>





         </div>
      </div>
   </div>

<!-- <h2>Our Partners</h2>
   <marquee behavior="scroll" direction="left">
   <img src="Images/bop.png" width="120" height="80" alt="Natural" />
   <img src="Images/abl.png" width="120" height="80" alt="Natural" />
   <img src="Images/ubl.png" width="120" height="80" alt="Natural" />
   <img src="Images/gift.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/meezan.png" width="120" height="80" alt="Natural" />
   <img src="Images/sindh.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/smeda.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/state.png" width="120" height="80" alt="Natural" />
   <img src="Images/gift.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/bop.png" width="120" height="80" alt="Natural" />
   <img src="Images/abl.png" width="120" height="80" alt="Natural" />
   <img src="Images/ubl.png" width="120" height="80" alt="Natural" />
   <img src="Images/gift.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/meezan.png" width="120" height="80" alt="Natural" />
   <img src="Images/sindh.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/smeda.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/state.png" width="120" height="80" alt="Natural" />
   <img src="Images/gift.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/bop.png" width="120" height="80" alt="Natural" />
   <img src="Images/abl.png" width="120" height="80" alt="Natural" />
   <img src="Images/ubl.png" width="120" height="80" alt="Natural" />
   <img src="Images/gift.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/meezan.png" width="120" height="80" alt="Natural" />
   <img src="Images/sindh.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/smeda.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/state.png" width="120" height="80" alt="Natural" />
   <img src="Images/gift.jpg" width="120" height="80" alt="Natural" />

  </marquee>                      -->












<br><br><br><br><br><br><br>
               <footer>
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-6">
                     <h3 style="color:white; font-size: 20px;">Contact Information</h3>
                     <ul class="contact_information">
                     <li><span><img src="images/location_icon.png" alt="#" /></span><span class="text_cont">Gift University<br>Gujranwala, Pakistan</span></li>
                     <li><span><img src="images/phone_icon.png" alt="#" /></span><span class="text_cont">055*******<br>055********</span></li>
                     <li><span><img src="images/mail_icon.png" alt="#" /></span><span class="text_cont">181400029@gift.edu.pk<br>181400179@gift.edu.pk</span></li>
                  </ul>

               </div>
               <br> <br>
               <div class="col-lg-4 col-md-6">
                  <div class="footer_links">
                     <h3>Quick link</h3>
                     <ul>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Home</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Private NGO</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Loan Application</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Tracking Application</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> About Us</a></li>

                     </ul>
                  </div>
               </div>
               <!-- <div class="col-lg-4 col-md-6">
                  <div class="footer_links">
                     <h3>Instagram</h3>
                     <ol>
                        <li><img class="img-responsive" src="images/footer_blog.png" alt="#" /></li>
                        <li><img class="img-responsive" src="images/footer_blog.png" alt="#" /></li>
                        <li><img class="img-responsive" src="images/footer_blog.png" alt="#" /></li>
                        <li><img class="img-responsive" src="images/footer_blog.png" alt="#" /></li>
                     </ol>
                  </div>
               </div> -->
               <br> <br>
               <div class="col-lg-3 col-md-6">
                  <div class="footer_links">
                     <h3>Contact us</h3>
                     <form action="index.html">
                        <fieldset>
                           <div class="field">
                              <input type="text" name="name" placeholder="Your Name" required="" />
                           </div>
                           <div class="field">
                              <input type="email" name="email" placeholder="Email" required="" />
                           </div>
                           <div class="field">
                              <input type="text" name="subject" placeholder="Subject" required="" />
                           </div>
                           <div class="field">
                              <textarea placeholder="Message"></textarea>
                           </div>
                           <div class="field">
                              <div class="center">
                                 <button class="reply_bt">Send</button>
                              </div>
                           </div>
                        </fieldset>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <div class="cpy">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <p>Copyright © 2022 Design by <a href="">Muhammad Tayyab</a></p>
               </div>
            </div>
         </div>
      </div>




















	<script src="js/jquery.min.js"></script>
   <script src="js/plugin.js"></script>
   <script src="js/custom.js"></script>
   <script src="js/bootstrap.bundle.min.js"></script>







</body>
</html>
