<!DOCTYPE html>
<html>
<head>
	<title>Track Application</title>
	<meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/track.css">
      <link rel="stylesheet" href="css/responsive.css">
      
</head>

<body class="main-layout">
<!--       <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="" /></div>
      </div> -->
      <header>
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-3 logo_section">
                  <div class="full">
                     <div class="center-desk">
                        
                        <div class="logo" style="width: 50%; height: 50%;"><p>   </p> <a href="Home1
                           .html">
                              <img src="images/logo.png" alt="#"></a> </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-9">
                  <div class="menu-area">
                     <div class="limit-box">
                        <nav class="main-menu">
                           <ul class="menu-area-main">
                              <li></li>
                              <li>
                                 <a href="Home1.html">Home</a>
                              </li>
                              
                              <li>
                                 <a href="apply01.html">Loan Application</a>
                              </li>
                              <li class="active">
                                 <a href="Track1.html">Track Application</a>
                              </li>
                              <li>
                                 <a href="Verification1.html">Verification</a>
                              </li>
                              <li>
                                 <a href="About1.html">About Us</a>
                              </li>
                              <li class="dropdown">
                                     <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> User <img style=" border-radius: 50%;width: 30px; height: 30px;" src="Images/person.png"> <span class="caret"></span></a>

                                     <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                       <li><a href="#">My Profile</a></li>
                                       <li><a href="#">EDIT Profile</a></li>
                                       <li><a href="track.html">Logout</a></li>
                                     </ul>
                                   </li>
                              
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>

<br><br><br><br>
<div class="container">
   <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
         <div class="card">
            <div class="card-header" style="color: black; font-size: 20px; text-align: center;">
               Track Application
            </div>
            <div class="card-body" style="align-items: center">
               <input type="number" name="" placeholder="Enter CNIC Number"> 
               
               <input type="number" name="" placeholder="Enter PIN Code"> 
            </div>
            <div class="card-footer" style="align-items: center;">
               <button type="Submit" style="width: 47%; margin-left: 10px;"  id="myBtn" class="btn btn-success">Submit</button>
               <button type="Submit" style="width: 47%; margin-left: 10px;"  class="btn btn-danger">Cancel</button>



<div id="myModal" class="modal">

  <div class="modal-content">
    <span class="close">&times;</span>
        <h1>Application Detail</h1>

    <label for="email"><b>Name</b></label>
    <input type="text" placeholder="Enter Email" name="email" disabled>

    <label for="psw"><b>CNIC</b></label>
    <input type="text" placeholder="Enter Password" name="psw" disabled>
        <label for="email"><b>Phone Number</b></label>
    <input type="text" placeholder="Enter Email" name="email" disabled>
        <label for="email"><b>Application Status</b></label>
    <input type="text" placeholder="Enter Email" name="email" disabled>
        <label for="email"><b>Date</b></label>
    <input type="text" placeholder="Enter Email" name="email" disabled>


  </div>

</div>

<script>
var modal = document.getElementById("myModal");

var btn = document.getElementById("myBtn");

var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
  modal.style.display = "block";
}

span.onclick = function() {
  modal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>





















               

<!-- <div class="form-popup" id="myForm">
  <form class="form-container">


    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

 -->






               <!-- <input type="Submit" name="" value="Submit" href="#">
               <input type="Submit" name="" value="Cancel" href="#"> -->
               <!-- <input type="Cancel" name="" value="Login" href="#"> -->
            </div>
         </div>


      </div>
      <div class="col-md-3"></div>
   </div>
</div>





<!-- <h2>Our Partners</h2>
   <marquee behavior="scroll" direction="left">
   <img src="Images/bop.png" width="120" height="80" alt="Natural" />
   <img src="Images/abl.png" width="120" height="80" alt="Natural" />
   <img src="Images/ubl.png" width="120" height="80" alt="Natural" />
   <img src="Images/gift.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/meezan.png" width="120" height="80" alt="Natural" />
   <img src="Images/sindh.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/smeda.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/state.png" width="120" height="80" alt="Natural" />
   <img src="Images/gift.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/bop.png" width="120" height="80" alt="Natural" />
   <img src="Images/abl.png" width="120" height="80" alt="Natural" />
   <img src="Images/ubl.png" width="120" height="80" alt="Natural" />
   <img src="Images/gift.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/meezan.png" width="120" height="80" alt="Natural" />
   <img src="Images/sindh.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/smeda.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/state.png" width="120" height="80" alt="Natural" />
   <img src="Images/gift.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/bop.png" width="120" height="80" alt="Natural" />
   <img src="Images/abl.png" width="120" height="80" alt="Natural" />
   <img src="Images/ubl.png" width="120" height="80" alt="Natural" />
   <img src="Images/gift.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/meezan.png" width="120" height="80" alt="Natural" />
   <img src="Images/sindh.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/smeda.jpg" width="120" height="80" alt="Natural" />
   <img src="Images/state.png" width="120" height="80" alt="Natural" />
   <img src="Images/gift.jpg" width="120" height="80" alt="Natural" />

  </marquee>                     

 -->










<br><br><br><br><br><br><br>

      	      <footer>
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-6">
                     <h3 style="color:white; font-size: 20px;">Contact Information</h3>
                     <ul class="contact_information">
                     <li><span><img src="images/location_icon.png" alt="#" /></span><span class="text_cont">Gift University<br>Gujranwala, Pakistan</span></li>
                     <li><span><img src="images/phone_icon.png" alt="#" /></span><span class="text_cont">055*******<br>055********</span></li>
                     <li><span><img src="images/mail_icon.png" alt="#" /></span><span class="text_cont">181400029@gift.edu.pk<br>181400179@gift.edu.pk</span></li>
                  </ul>
                  
               </div>
               <br> <br>
               <div class="col-lg-4 col-md-6">
                  <div class="footer_links">
                     <h3>Quick link</h3>
                     <ul>
                        
                        <li><a href="Home1.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Home</a></li>
                        <li><a href="apply01.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Loan Applications</a></li>
                        <li><a href="Track1.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Track Application</a></li>
                        <li><a href="Verification1.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Verification</a></li>
                        <li><a href="about1.html"><i class="fa fa-angle-right" aria-hidden="true"></i> About Us</a></li>
                     </ul>
                  </div>
               </div>
               <!-- <div class="col-lg-4 col-md-6">
                  <div class="footer_links">
                     <h3>Instagram</h3>
                     <ol>
                        <li><img class="img-responsive" src="images/footer_blog.png" alt="#" /></li>
                        <li><img class="img-responsive" src="images/footer_blog.png" alt="#" /></li>
                        <li><img class="img-responsive" src="images/footer_blog.png" alt="#" /></li>
                        <li><img class="img-responsive" src="images/footer_blog.png" alt="#" /></li>
                     </ol>
                  </div>
               </div> -->
               <br> <br>
               <div class="col-lg-3 col-md-6">
                  <div class="footer_links">
                     <h3>Contact us</h3>
                     <form action="index.html">
                        <fieldset>
                           <div class="field">
                              <input type="text" name="name" placeholder="Your Name" required="" />
                           </div>
                           <div class="field">
                              <input type="email" name="email" placeholder="Email" required="" />
                           </div>
                           <div class="field">
                              <input type="text" name="subject" placeholder="Subject" required="" />
                           </div>
                           <div class="field">
                              <textarea placeholder="Message"></textarea>
                           </div>
                           <div class="field">
                              <div class="center">
                                 <button class="reply_bt">Send</button>
                              </div>
                           </div>
                        </fieldset>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <div class="cpy">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <p>Copyright © 2022 Design by <a href="">Muhammad Tayyab</a></p>
               </div>
            </div>
         </div>
      </div>



















	<script src="js/jquery.min.js"></script>
   <script src="js/plugin.js"></script>
   <script src="js/custom.js"></script>
   <script src="js/bootstrap.bundle.min.js"></script>
   

</body>
</html>